<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../Content/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../Content/css/styles.css" type="text/css">
  </head>
  <body>
    <div id="picture">
      @Html.Partial("header.cshtml")
      <div class="container">
        <div class="well">
          @RenderBody()
        </div>
      </div>
    </div>
  </body>
</html>
