@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Here are the clients you are currently providing beauty services to:</h2>
@if (Model == null)
{
<h3> You don't have any clients yet! You need more clients!</h3>
}

@if (Model != null)
{
  foreach (var client in Model)
  {
    <li>@client.Name</li>
  }
}

<a href="/" class="btn btn-primary">Return to Home</a>
