@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Here are the clients you are currently providing beauty services to:</h2>
@if (Model.Count == 0)
{
<h4> You don't have any clients yet! You need more clients!</h4>
}

@if (Model.Count > 0)
{
  <div class="blockcontainer">
    <div class="leftblock">
      @foreach (var client in Model)
      {
        <li>@client.Name</li>
      }
    </div>
    <div class="rightblock">
      @foreach (var client in Model)
      {
        <li><a class="details" href="/client/edit/@client.Id">Edit</a></li>
      }
    </div>
  </div>
}
