@{
  Layout="Shared/_Layout.cshtml";
}

<h3>@Model.Name:</h3>

<form action="/client/update/@Model.Id" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="client-id" type="hidden" value="@Model.Id">
  <input type="text" name="newName" placeholder="Edit this Client's name" required>
  <button type="submit" name="button">Edit Client</button>
</form>

<a href="/clients/list" class="btn btn-primary topmargin">Return to Previous Page</a>
