@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <h1>Cut and Caboodle Employee Portal</h1>
</div>

<a href="/new_stylist" class="btn btn-primary">Add a new Stylist</a>
<a href="/new_client" class="btn btn-primary">Add a new Client</a>
<a href="/list_stylists" class="btn btn-success">View Stylists</a>
<a href="/list_clients" class="btn btn-success">View Clients</a>
<a href="remove_stylist" class="btn btn-danger">Remove a Stylist<a>
<a href="remove_client" class="btn btn-danger">Remove a Client<a>
