@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Add a new Client:</h2>

<form class="" action="/add_client" method="post">
  <input type="text" name="client-name" placeholder="Enter the Client's name here">
  <select name="stylist-id">
     @foreach (var stylist in Model)
     {
       <option value="@stylist.Id">@stylist.Name</option>
     }
  </select>
  <button type="submit" name="button">Add Client</button>
</form>

<a href="/" class="btn btn-primary">Return to Home</a>
