@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Add a new Stylist:</h2>

<form class="" action="/stylist/add" method="post">
  <input type="text" name="stylist-name" placeholder="Enter Stylist's name here" required>
  <button type="submit" name="button">Add Stylist</button>
</form>
