@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Add a new Stylist:</h2>

<form class="" action="/add_stylist" method="post">
  <input type="text" name="stylist-name" placeholder="Enter the Stylist's name here">
  <button type="submit" name="button">Add Stylist</button>
</form>

<a href="/" class="btn btn-primary">Return to Home</a>
