@{
  Layout="Shared/_Layout.cshtml";
}

<h3>This will remove an employee from the system. Are you <strong>sure</strong> you would like to do this?</h3>

@if (Model.Count == 0)
{
  <h4>You don't have any employees to fire.</h4>
}
@if (Model.Count > 0)
{
<form class="" action="/delete_stylist" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <select name="stylist-id">
     @foreach (var stylist in Model)
     {
       <option value="@stylist.Id">@stylist.Name</option>
     }
  </select>
  <button type="submit" name="button">Terminate Employee</button>
</form>
}
