@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Here are the stylists who are currently employed at Cut and Caboodle:</h2>
@if (Model.Count == 0)
{
<h4> You don't have any stylists yet! </h4>
}

@if (Model.Count > 0)
{
  foreach (var stylist in Model)
  {
    <li>@stylist.Name</li>
  }
}

<a href="/" class="btn btn-primary">Return to Home</a>
